*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
html{
    font-size: 20px;
    scroll-behavior: smooth;
}
body{
    background-color: #191e29;
   
}
.inner{
    padding: 5% 5%;
    margin: 0 auto;
    max-width: 1200px;
}



/*--------header start-------------*/

.header{
    width: 100%;
    background-color: #191e29;
    margin-bottom: 4rem;
    
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #696E79;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #161616b9;

}
nav .logo{
    width: 70px;
}
nav ul{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
    margin-right: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;

}
nav ul li a:hover,
nav ul li a.active{
    text-decoration: none;
    color: #01c38d;
}

nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #01c38d;
    transition: all 0.3s linear;
}

nav ul li a:hover::after {
    width: 100%;
}
nav .menubar{
    font-size: .8rem;
    color:#fff;
    outline: none;
    border: none;
    background: none;
    display: none;
    margin-right: .5rem;
}
nav .menubar:hover{
    color: #01c38d;
    transition: all 0.3s linear;

}

.hero-text{
    
    margin-top: 10rem;
    /* margin-bottom: 2rem; */

}
.hero-text h1{
    font-size: 3rem;
    font-weight: 600;
    color:transparent;
    position: relative;
    display:block;
    width: fit-content;
    animation: text  .5s linear forwards;
    animation-delay: 1s ;
    
}
.hero-text h1:nth-child(1){
    animation-delay: 1s;
}
.hero-text h1:nth-child(2){
    animation: text-name  .5s linear forwards;
    animation-delay: 2s;
}
.hero-text h1:nth-child(3){
    animation-delay: 3s;
}
/* .hero-text .name{
    color: #01c38d;
    letter-spacing: 3px;
 
} */

.hero-text h1 span{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #01c38d;
    animation: text-revel 1s linear;
    animation-delay: .5s;
}
.hero-text h1:nth-child(1) span{
    animation-delay: .5s;
}
.hero-text h1:nth-child(2) span{
    animation-delay: 1.5s;
}
.hero-text h1:nth-child(3) span{
    animation-delay: 2.5s;
}

@keyframes text-revel{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
@keyframes text{
    100%{
        color: #fff;
    }
}
@keyframes text-name{
    100%{
        color: #01c38d;
    }
}

.hero-img {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    position: relative;
    width: 450px;
    height:450px;
    background-color: transparent;
    border: solid 50px #01c38d;
    border-radius: 50%;
    /* position: relative;
    z-index: -1; */
}
.hero-img img{
    width: 100%;

}
.hero-img .my{
    transform: scale(0);
    opacity: 0;
    animation: myphoto 2s ease 1s forwards;
}
@keyframes myphoto{
    0%{
        transform: scale(0);
        opacity: 0;

    }
    100%{transform: scale(1);
        opacity: 1;

    }
}
.hero-img .ht{
    width: 60px;
    padding: 10px;
    background: #191e29;
    border-radius: 50%;
    position: absolute;
    top:-5%;
    left: 0;
}
.hero-img .ph{
    width: 60px;
    padding: 10px;
    background: #191e29;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    right: 0;
}
.hero-img .css{
    width: 60px;
    padding: 10px;
    background: #191e29;
    border-radius: 50%;
    position: absolute;
    bottom: -5%;
    right: 0;
}
.hero-img .boot{
    width: 60px;
    padding: 10px;
    background: #191e29;
    border-radius: 50%;
    position: absolute;
    bottom: -5%;
    left: 0%;
}
.hero-img .js{
    width: 60px;
    padding: 10px;
    background: #191e29;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: -20%;
}
.hero-img .jq{
    width: 60px;
    padding: 10px;
    background: #191e29;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    right: -20%;
}
/* .hero-img .back{
    position: absolute;
    top: 0;
    left: 0;
  
} */
/* .hero-img .back img{
    transform: rotate(-40deg);
    width: 500px;
    z-index: -1;
    position: relative;
   
} */

/* .hero-img .logos{
    position: absolute;
    top: 10%;
    left: -3%;
   
}
.hero-img .round{
    width: 450px;
    height:450px;
    background-color: transparent;
    border: solid 60px #f1b09c;
    border-radius: 50%;
    position: relative;
    z-index: -1;

} */


/*--------header end-------------*/

/*--------about start-------------*/
.about{
    width: 100%;
    margin: 1rem 0 4rem 0;
    position: relative;
   
}
.about .border2{
    width: 10%;
    position: absolute;
    bottom: -10%;
    right: 1%;
    
}
.about .largering2{
    width: 30%;
    position: absolute;
    bottom: -20%;
    right: 0%;
}
.about h1{
    font-size: 2rem;
    font-weight: 600;
    color: #696E79;
    margin-bottom: 2rem;
}
.about .aboutimage{
   text-align: center;
   position: relative;
   margin-top: 3rem;
}
.about .aboutimage img{
    width: 50%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.about .aboutimage .div{
    width: 50%;
    height: 363px;
    background-color: transparent;
    border: 5px solid #01c38d;
    position: absolute;
    top: 8%;
    left: 30%;
    z-index: -1;
    border-bottom-right-radius: 10px;
    
}
.about .aboutimage .div1{
    width: 50%;
    height: 363px;
    background-color: transparent;
    border: 5px solid #f1b09c;
    position: absolute;
    top: -8%;
    left: 20%;
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.about .abouttext h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #01c38d;
}
.about .abouttext p{
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: .5rem;
    text-align: justify;
   

}
.about .abouttext .details h5 i{
    font-size: .9rem;
    
    color: #a73728;
    margin-right: 1rem;
    margin-bottom: .5rem;
}
.about .abouttext .details h5{
    font-size: .9rem;
    font-weight: 600;
    color: #ffffff;
   
}
.about .abouttext button{
 padding: .5rem;
 outline: none;
 border-radius: 5px;
 border: none;
 background-color:#01c38d;
 cursor: pointer;
 margin-top: 1rem;
 transition: all 0.2s linear;
}
.about .abouttext button a{
    text-decoration: none;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 600;
    transition: all 0.2s linear;

}
.about .abouttext button i{
    margin-left: 8px;
    font-size: .9rem;
}
.about .abouttext button:hover i{
    transform: translateY(3px);
}
.about .abouttext button:hover{
    background-color: #191e29;
    transform: translateY(-5px);
}
.about .abouttext button:hover a{
    color: #01c38d;
}




/*--------about end-------------*/



/*--------Skill start-------------*/
.skill{
    width: 100%;
    margin: 2rem 0 4rem;
    position: relative;
}
.skill .bodersm{
   width: 35%;
   position: absolute;
   bottom: -25%;
   left: -20%;
   z-index: -1;
}
.skill .largering1{
    width: 40%;
    position: absolute;
    bottom: -5%;
    left: -20%;
    z-index: -1;
}
.skill h1{
    font-size: 2rem;
    font-weight: 600;
    color: #01c38d;
    text-align: center;
    margin-bottom: 2rem;
}

.skill .skillimage{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill .skillimage .skimg{
    width: 20%;
    padding: 3rem 2rem;
    border-radius: 2rem;
    margin: 1rem;
    background-color: #696E79;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.skill .skillimage img{
    width: 100%;
    transition: 0.8s linear;

}
.skill .skillimage .skimg:hover img{
    transform: scale(1.2);
}
.skill .skillimage .skimg .layer{
    width: 100%;
    height: 0%;
    padding: 0 1rem;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 2rem;
    /* background-color:#01c38d ; */
    /* background: linear-gradient(180deg, rgba(25,30,41,0) 0%, rgba(1,195,141,1) 100%); */
    /* background: linear-gradient(180deg, rgba(21,195,141,0) 0%, rgba(25,30,41,1) 100%); */
    background: linear-gradient(0deg, rgba(19,45,70,1) 0%, rgba(1,195,141,0.5606617647058824) 100%);
    transition: height 0.8s;

}
.skill .skillimage .skimg:hover .layer{
    height: 100%;
}

.skill .skillimage .skimg .layer p{
    text-align: center;
    margin-top:5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}



/*--------Skill end-------------*/



/*--------project start--------*/
.project{
    width: 100%;
    margin: 2rem 0 4rem;
    position: relative; 
}
.project .large2{
    width:60%;
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
}
.project .large1{
    width:50%;
    position: absolute;
    top: 35%;
    left:50%;
    z-index: -1;
}
.project .large4{
    width:52%;
    position: absolute;
    top: 65%;
    left: -10%;
    z-index: -1;
}
.project .border3{
    width: 40%;
    position: absolute;
    top:30%;
    left: 60%;
    z-index: -1;
}
.project .border4{
    width: 50%;
    position: absolute;
    top: 60%;
    left: -8%;
    z-index: -1;
}
.project h1{
    font-size: 2rem;
    font-weight: 600;
    color: #01c38d;
    text-align: center;
    margin-bottom: 2rem;
}
.project .allprojects .projectbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color:#132d46;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.5s linear;
}
.project .allprojects .projectbox button{
    width: 5rem;
    padding: 8px;
    background-color: #191e29;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 48%;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s linear;
    cursor: pointer;

}
.project .allprojects .projectbox button a{
    text-decoration: none;
    font-weight: 600;
    color: #ffffff; 
    transition: all 0.3s linear;

}
.project .allprojects .projectbox button i{
    margin-left: 5px;
    transition: all 0.3s linear;

}
.project .allprojects .projectbox button:hover{
    background-color: #01c38d;
}
.project .allprojects .projectbox button:hover a{
    color: #191e29;
}
.project .allprojects .projectbox button:hover i{
    transform: translateX(5px);
}
.project .allprojects .projectbox:hover .projectdetails{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.project .allprojects .projectbox:hover .projectimg{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.project .allprojects .projectbox:hover button{
    top: 45%;
    opacity: 1;
    transform: scale(1);
}
.project .allprojects .projectbox .projectimg{
    width: 55%;
    transition: all 2s ease;

    
}
.project .allprojects .projectbox .projectimg img{
    width: 100%;

}

.project .allprojects .projectbox .projectdetails{
    width: 50%;
    padding: 0 1.5rem;
    transition: all 2s ease;

}
.project .allprojects .projectbox .projectdetails h2{
    font-size: 1.4rem;
    font-weight: 400;
    color: #01c38d;
    margin-bottom: .8rem;
}
.project .allprojects .projectbox .projectdetails h3{
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: .7rem;
}
.project .allprojects .projectbox .projectdetails p{
    font-size: .8rem;
    font-weight: 400;
    color: #01c38d;
    margin-bottom: .8rem;
}
.project .allprojects .projectbox .projectdetails p i{
    font-size: .4rem;
    margin-right: .5rem;
}


/*--------project end--------*/




/*--------contact start--------*/
.contact{
    width: 100%;
    margin: 2rem 0 4rem; 
}
.contact h1{
    font-size: 2rem;
    font-weight: 600;
    color: #696E79;
    text-align: center;
    margin-bottom: 4rem;
}
.contact .form h2{
    font-size: 2rem;
    font-weight: 600;
    color: #01c38d;
}
.contact input,
.contact textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    background: none;
    color: #fff;
}
.contact input:focus{
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}
.contact input:-webkit-autofill,
.contact input:-webkit-autofill:hover,
.contact input:-webkit-autofill:focus{
    -webkit-text-fill-color:#fff;
    -webkit-box-shadow:0 0 0 1000px rgba(25, 30, 41, 1) inset !important;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}
.contact form .btn{
    width: 120px;
    font-size: .9rem;
    font-weight: 600;
    padding: .5rem;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color:#01c38d;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.2s linear;
}

.contact form .btn:hover{
    background-color: #ffffff;
    color: #01c38d;
    transform: translateY(-5px);
}
.contact .form #msg{
    font-size: .8rem;
    color: #01c38d;
    display: block;
    margin-top: -.8rem;
}
.contact .map iframe{
    width: 100%;
    border-radius: 10px;
}
/*--------contact end--------*/


/*--------footer start--------*/
.footer{
    width: 100%;
    margin: 1.5rem 0 0;
    padding: 1rem 0;
    background-color: #12151d;
    position: relative;
}
.footer .text{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.footer .text .social a{
   font-size: .8rem;
   color: #01c38d;
   margin-right: .5rem;
   cursor: pointer;
   transition: all 0.2s linear;
}
.footer .text .social a:hover{
    transform: translateY(-5px);
}
.footer p{
    font-size: .7rem;
    color: #ffffff;
}
.footer p span{
    color: #01c38d;
}
.footer .top{
    text-decoration: none !important;
    font-size: .8rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    transition:  all 0.4s linear;
    padding: 12px 15px;
    border-radius: 50%;
    background-color: #696E79;
    border: none;
    outline: none;
    position: absolute;
    top: -15%;
    right: 2%;
    opacity: .5;
}
.footer a:hover{
   opacity: 1;
   transform: translateY(-5px);
   color: #01c38d;
}



/*--------footer end--------*/






/*===========================================Photoshop page start==============================================*/
/* .container{
    padding-bottom: 2rem;
} */
.photoshop h1{
    font-size: 2rem;
    font-weight: 600;
    color: #01c38d;
    text-align: center;
}

.photoshop .landingpage h2{
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;

}
.photoshop .landingpage{
    /* background-color: red; */
    height: 1200px;
}
.photoshop .landingpage .landing{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
    position: relative;
}
.photoshop .landingpage .landing .image{
    width: 48%;
    margin-bottom: 2rem;
    border: 10px solid #696E79;
    overflow: hidden;
    cursor: pointer;
}
.photoshop .landingpage .landing .extra{
    position: absolute;
    top: 100%;
    left: 25%;
}
.photoshop .landingpage .landing .image img{
    width: 100%;
    transition: all 0.5s linear;
}
.photoshop .landingpage .landing .image:hover img{
    transform: scale(1.2);
}

.photoshop .landingpage .popup-image1{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.photoshop .landingpage .popup-image1 span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #01c38d;
    cursor: pointer;
    transition: all 0.2s linear;
}
.photoshop .landingpage .popup-image1 span:hover{
    color: #e1e1e1;
}
.photoshop .landingpage .popup-image1 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;
}


.photoshop .websitepage h2{
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}
.photoshop .websitepage{
    height: 1200px;
}

.photoshop .websitepage .website{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
    position: relative;
}

.photoshop .websitepage .website .image{
    width: 48%;
    height: 50vh;
    margin-bottom: 2rem;
    border: 10px solid #696E79;
    overflow: hidden;
    cursor: pointer;
}
.photoshop .websitepage .website .image img{
    width: 100%;
    transition: all 0.5s linear;
}

.photoshop .websitepage .website .extra{
    position: absolute;
    top: 100%;
    left: 25%;
}
.photoshop .websitepage .website .image:hover img{
    transform: scale(1.2);
}

.photoshop .websitepage .popup-image2{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.photoshop .websitepage .popup-image2 span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #01c38d;
    cursor: pointer;
    transition: all 0.2s linear;
}
.photoshop .websitepage .popup-image2 span:hover{
    color: #e1e1e1;
}
.photoshop .websitepage .popup-image2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:8%;
    object-fit: cover;
}

/*===========================================Photoshop page end==============================================*/




/*======media query start==============*/
@media only screen and (max-width: 799px){
    /*=======================header start=========================*/
    nav{
        background-color: #161616b9;

    
    }
    nav ul{
        display: flex;
        align-content: center;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 82px;
        left: 0;
        padding:10px 10px;
        display: none;
        background-color: #161616b9;

    }
    nav ul li{
        list-style-type: none;
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 5px;  
    }
    nav ul li{
        list-style-type: none;
        margin-right: 1rem;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        transition: all 0.3s linear;
        /* background-color: #a73728;
        display: block;
        padding: .5rem 0 .5rem .5rem;
        width: 0%;
        opacity: 0;
        transition:all 0.3s linear ; */
    
    }
    nav ul li a:hover,
    nav ul li a.active{
        text-decoration: none;
        color: #01c38d;
        /* width: 100%;
        opacity: 1; */
    }
    
    nav ul li a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background: #01c38d;
        transition: all 0.3s linear;
        /* display: none; */
    }
    
    nav ul li a:hover::after {
        width: 100%;
        /* display: none; */
    }
    
    nav .menubar{
        display: block;
        cursor: pointer;
    }

    .hero-text{
        margin-top: 10rem;
    }
    .hero-text h1{
        font-size: 2rem; 
    }
    .hero-img {
        width: 300px;
        height:300px;
        border: solid 35px #01c38d;
        
    }
    .hero-img img{
        width: 100%;
    }
    .hero-img .ht{
        width: 40px; 
    }
    .hero-img .ph{
        width: 40px;   
    }
    .hero-img .css{
        width: 40px;  
    }
    .hero-img .boot{
        width: 40px; 
    }
    .hero-img .js{
        width: 40px;  
    }
    .hero-img .jq{
        width: 40px; 
    }

    /*--------header end-------------*/



    /*--------about start-------------*/
    .about{
        width: 100%;
        margin: 1rem 0 4rem 0;
        position: relative;
    
    }
    .about .border2{
        width: 20%;
        position: absolute;
        bottom: 0%;
        right: 3%;
        
    }
    .about .largering2{
        width: 40%;
        position: absolute;
        bottom: 0%;
        right: 3%;
    }
    .about h1{
        font-size: 1.5rem;
    }
    .about .aboutimage{
        margin-bottom: 2.5rem;
    }
    .about .aboutimage img{
        width: 50%;
  
    }
    .about .aboutimage .div{
        width: 50%;
        height: 450px;
        top: 10%;
 
    }
    .about .aboutimage .div1{
        width: 50%;
        height: 450px;
        top: -6%;
    }
    .about .abouttext h3{
        font-size: 1.8rem;
    }
    .about .abouttext p{
        font-size: 1.3rem;
        
    }
    .about .abouttext .details h5 i{
        font-size: 1.2rem;
    }
    .about .abouttext .details h5{
        font-size: 1.2rem;
    }
    .about .abouttext button a{
        font-size: 1.2rem;
    }
    .about .abouttext button i{
        margin-left: 8px;
        font-size: 1.2rem;
    }


    /*--------about end-------------*/


    /*--------Skill start-------------*/
    .skill{
        width: 100%;
        margin: 2rem 0 12rem;
        position: relative;
    }
    .skill .bodersm{
        width: 120%;
        position: absolute;
        bottom: -50%;
        left: -70%;
        z-index: -1;
    }
    .skill .largering1{
        width: 100%;
        position: absolute;
        bottom: -50%;
        left: -20%;
        z-index: -1;
    }
    .skill .skillimage{
        position: relative;
    }
    .skill .skillimage .skimg{
        width: 25%;
    }
    .skill .skillimage .photo{
        position: absolute;
        top: 100%;
        left: 18%;
    }
    .skill .skillimage .ai{
        position: absolute;
        top: 100%;
        right: 18%;
    }

    .skill .skillimage .skimg:hover .layer{
        height: 100%;
    }

    .skill .skillimage .skimg .layer p{
        font-size: .8rem;
  
    }



    /*--------Skill end-------------*/

    
    /*--------project start--------*/
    .project{
        width: 100%;
        margin: 4rem 0 2rem;
        position: relative; 
    }
    .project .large2{
        width:60%;
        position: absolute;
        top: 0;
        left: -10%;
        z-index: -1;
    }
    .project .large1{
        width:50%;
        position: absolute;
        top: 35%;
        left:50%;
        z-index: -1;
    }
    .project .large4{
        width:60%;
        position: absolute;
        top: 65%;
        left: -10%;
        z-index: -1;
    }
    .project .border3{
        width: 40%;
        position: absolute;
        top:30%;
        left: 60%;
        z-index: -1;
    }
    .project .border4{
        width: 50%;
        position: absolute;
        top: 60%;
        left: -8%;
        z-index: -1;
    }
    .project h1{
        font-size: 1.5rem;
        font-weight: 600;
        color: #01c38d;
        text-align: center;
        margin-bottom: 2rem;
    }
    .project .allprojects .projectbox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        background-color:#132d46;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: all 0.5s linear;
    }

    .project .allprojects .projectbox .projectdetails{
        width: 50%;
        padding: 0 .5rem;
    }
    .project .allprojects .projectbox .projectdetails h2{
        font-size: 1.2rem;
        margin-bottom: -5px;
    }
    .project .allprojects .projectbox .projectdetails h3{
        font-size: 1rem;
        margin-bottom: 8px;
    }
    .project .allprojects .projectbox .projectdetails p{
        font-size: .5rem;
        margin-bottom: 5px;
    }
    .project .allprojects .projectbox .projectdetails p i{
        font-size: .2rem;
        
    }


    /*--------project end--------*/

    /*--------contact start--------*/
    .contact{
        width: 100%;
        margin: 4rem 0 4rem; 
    }
    .contact h1{
        font-size: 1.5rem;
    }
    .contact .form h2{
        font-size: 1.2rem;
        
    }
    /*--------contact end--------*/


    /*--------footer start--------*/
    .footer .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .footer .text .social{
        padding-right: 1rem;
    }
    .footer .text .social i{
        font-size: 1.2rem;
    }
    .footer p{
        font-size: 1.2rem;
        color: #ffffff;
        margin-bottom: 1rem;
    }
    

    /*--------footer end--------*/

    /*===========================================Photoshop page start==============================================*/

    .photoshop h1{
        font-size: 1.8rem;
        font-weight: 400;   
    }
    .photoshop .landingpage h2{
        font-size: 1.5rem;
        font-weight: 200; 
    }
    .photoshop .landingpage{
        /* background-color: red; */
        height: 850px;
    }
    .photoshop .landingpage .landing .image{
        border: 5px solid #696E79;
    
    }
    .photoshop .landingpage .landing .image img{
        width: 100%;
        transition: all 0.5s linear;
    }
    .photoshop .landingpage .landing .extra{
        position: absolute;
        top: 100%;
        left: 25%;
    }
    .photoshop .landingpage .landing .image:hover img{
        transform: scale(1.2);
    }
    .photoshop .landingpage .popup-image1 img{
        top: 38%;
        width: 90%;
       
    }
    .photoshop .websitepage{
        /* background-color: red; */
        height: 850px;
    }
    .photoshop .websitepage h2{
        font-size: 1.5rem;
        font-weight: 200;
        
    }
    .photoshop .websitepage .website .image{
        border: 5px solid #696E79;
        height: 20vh;  
    }
    .photoshop .websitepage .popup-image2{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
    }
    .photoshop .websitepage .popup-image2 img{
        width:25%;  
    }

/*===========================================Photoshop page end==============================================*/


}






@media only screen and (max-width: 477px){
    /*---header start---------*/
    nav ul{
        top: 81px;
    }

    .hero-text{
        margin-top: 2rem;
        margin-left: 1.8rem;
        /* margin-bottom: 2rem; */
        
    }
    .hero-text h1{
        font-size: 1.8rem; 
        
    }
    .hero-img {
        width: 300px;
        height:300px;
        border: solid 35px #01c38d;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1.4rem;
      
    }
    /*---header end---------*/


    /*--------about start-------------*/
    .about{
        width: 100%;
        margin: 1rem 0 4rem 0;
        position: relative;
    
    }
    .about .border2{
        width: 20%;
        position: absolute;
        bottom: 0%;
        right: 3%;
        
    }
    .about .largering2{
        width: 40%;
        position: absolute;
        bottom: 0%;
        right: 3%;
    }
    .about h1{
        font-size: 1.5rem;
    }
    .about .aboutimage{
        margin-bottom: 2.5rem;
    }
    .about .aboutimage img{
        width: 50%;
  
    }
    .about .aboutimage .div{
        width: 50%;
        height: 225px;
        border: 2px solid #01c38d;
        top: 7%;
 
    }
    .about .aboutimage .div1{
        width: 50%;
        height: 225px;
        border: 3px solid #f1b09c;
        top: -6%;
    }
    .about .abouttext h3{
        font-size: 1.2rem;
    }
    .about .abouttext p{
        font-size: 1rem;
        
    }
    .about .abouttext .details h5 i{
        font-size: .8rem;
    }
    .about .abouttext .details h5{
        font-size: .8rem;
    }
    .about .abouttext button a{
        font-size: 1rem;
    }
    .about .abouttext button i{
        margin-left: 8px;
        font-size: 1rem;
    }


    /*--------about end-------------*/


    /*--------Skill start-------------*/
    .skill{
        width: 100%;
        margin: 2rem 0 8rem;
        position: relative;
    }
    .skill .bodersm{
        width: 120%;
        position: absolute;
        bottom: -20%;
        left: -70%;
        z-index: -1;
    }
    .skill .largering1{
        width: 100%;
        position: absolute;
        bottom: 10%;
        left: -20%;
        z-index: -1;
    }
    .skill .skillimage{
        position: relative;
    }
    .skill .skillimage .skimg{
        width: 30%;
        /* padding: 3rem 2rem; */
        padding: .8rem .8rem;

    }
    .skill .skillimage .photo{
        position: absolute;
        top: 100%;
        left: 0%;
    }
    .skill .skillimage .ai{
        position: absolute;
        top: 100%;
        right: 0%;
    }
    .skill .skillimage .skimg:hover .layer{
        height: 100%;
    }
    .skill .skillimage .skimg .layer p{
        font-size: .5rem;
        margin-top: 10px;
        font-weight: 400;
    }



    /*--------Skill end-------------*/



    /*--------project start--------*/
    .project{
        width: 100%;
        margin: 4rem 0 2rem;
        position: relative; 
    }
    .project .large2{
        width:100%;
        position: absolute;
        top: 0;
        left: -30%;
        z-index: -1;
    }
    .project .large1{
        width:50%;
        position: absolute;
        top: 40%;
        left:50%;
        z-index: -1;
    }
    .project .large4{
        width:100%;
        position: absolute;
        top: 65%;
        left: -30%;
        z-index: -1;
    }
    .project .border3{
        width: 40%;
        position: absolute;
        top:30%;
        left: 60%;
        z-index: -1;
    }
    .project .border4{
        width: 70%;
        position: absolute;
        top: 55%;
        left: -20%;
        z-index: -1;
    }
    .project h1{
        font-size: 1.5rem;
        font-weight: 600;
        color: #01c38d;
        text-align: center;
        margin-bottom: 2rem;
    }
    .project .allprojects .projectbox{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
    .project .allprojects .projectbox .projectimg{
        width: 100%;
        transition: all 2s ease;
        
    }
    .project .allprojects .projectbox .projectdetails{
        width: 100%;
        padding: 0 .5rem;
        text-align:center ;
    }
    .project .allprojects .projectbox .projectdetails h2{
        font-size: 1.2rem;
        margin-bottom: -5px;
    }
    .project .allprojects .projectbox .projectdetails  .ph2{
        margin-bottom: 1rem;
    }
    .project .allprojects .projectbox .projectdetails h3{
        font-size: 1rem;
        margin-bottom: 8px;
    }
    .project .allprojects .projectbox .projectdetails p{
        font-size: .5rem;
        margin-bottom: 5px;
    }
    .project .allprojects .projectbox .projectdetails p i{
        font-size: .2rem;  
    }
    .project .allprojects .projectbox button{
        left: 38%;
    }


    /*--------project end--------*/


    /*--------contact start--------*/
     .contact{
        width: 100%;
        margin: 2rem 0 4rem; 
    }
    .contact h1{
        font-size: 1.5rem;
        margin-bottom: 0rem;

    }
    .contact .form{
        margin-bottom: 2rem;
    }
    .contact .form h2{
        font-size: 1.2rem;
        
    }
    /*--------contact end--------*/


      /*--------footer start--------*/
    .footer .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .footer .text .social{
        padding-right: 1rem;
    }
    .footer .text .social i{
        font-size: 1rem;
    }
    .footer p{
        font-size: .8rem;
        color: #ffffff;
        margin-bottom: .8rem;
    }
    

    /*--------footer end--------*/


    
    /*===========================================Photoshop page start==============================================*/

    .photoshop h1{
        font-size: 1rem;
        font-weight: 400;   
    }
    .photoshop .landingpage h2{
        font-size: .8rem;
        font-weight: 200; 
    }

    .photoshop .landingpage{
        /* background-color: red; */
        height: 1350px;
    }
    .photoshop .landingpage .landing{
        margin-top: 2rem;
        display: flex;
        align-items:flex-start;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }
    .photoshop .landingpage .landing .image{
        width: 100%;
        border: 5px solid #696E79;
    
    }
    .photoshop .landingpage .landing .extra{
        position: absolute;
        top: 100%;
        left: 0%;
    }
    .photoshop .landingpage .landing .image img{
        width: 100%;
        transition: all 0.5s linear;
    }
    .photoshop .landingpage .landing .image:hover img{
        transform: scale(1.2);
    }
    .photoshop .landingpage .popup-image1 img{
        top: 40%;
        width: 90%;
        
    }
    .photoshop .websitepage{
        /* background-color: red; */
        height: 1250px;
    }
   
    .photoshop .websitepage h2{
        font-size: .8rem;
        font-weight: 200;
        
    }
    .photoshop .websitepage .website{
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }
    
    .photoshop .websitepage .website .image{
        width: 100%;
        border: 5px solid #696E79;
        height: 25vh;  
    }
    .photoshop .websitepage .website .extra{
        position: absolute;
        top: 100%;
        left: 0%;
    }
    .photoshop .websitepage .popup-image2{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
    }
    .photoshop .websitepage .popup-image2 img{
        width:40%;  
    }

   
}


